/*
* Feel free to change name of colors if you need it
* Feel free to add new colors if you need it
*/
/*
:root {
  --color-body-bg: #0b192f;
  --color-header-bg: #162b4d;
  --color-footer-bg: #162b4d;
  --color-text: #fff;
  --color-hover-text: #b8b8b8;
}
*/
.post-1 {
	background: #B71757;
}
.post-2 {
	background: #0D7E71;
}
.post-3 {
	background: #b1660e;
}
.post-4 {
	background: #d12767;
}
.post-5 {
	background: #2d95bb;
}

/* Your styles go here */
body {
  font-family: roboto;
  background-color: #0b192f;
  margin: 0;
  overflow-y: scroll;
}

.wrapper {
  max-width: 1380px;
  margin: auto;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #162b4d;
  font-weight: 100;
}

header p {
  font-size: 43px;
  color: #fff;
  margin: 0.6em 0.6em 0.8em 0.6em;
}

header p span {
  color: #B71757;
}

header ul {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #fff;
}

header ul li {
  font-size: 22px;
  display: inline-block;
  padding: 44px 22.5px;
  font-weight: 300;
}

header ul li:last-child {
  margin-right: 65px;
}

header ul li:hover {
  cursor: pointer;
  background-color: #b8b8b8;
}

main {
  margin-top: 25px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.main_left_section {
  width: 74.6%;
}

.main_left_section section {
  display: flex;
  flex-flow: row nowrap;
}

.main_section_right {
  display: flex;
  flex-flow: row nowrap;
  width: 50%;
}

.main_left_section section img {
  width: 50%;
}

.main_left_section section img:hover {
  filter: opacity(0.4);
  cursor: pointer;
}

.main_left_section section .inline {
  display: inline-block;
  padding: 0 44px;
  color: #fff;
  font-weight: 100;
}

.main_left_section section .inline h1 {
  line-height: 1;
  margin-top: 45px;
  font-size: 57px;
  font-weight: 100;
  margin-bottom: 0;
}

.main_left_section section .inline p {
  margin: 25px 0 16px 0;
  font-size: 17.85px;
  line-height: 1.6;
  font-weight: 300;
  color: #b8b8b8;
}

.main_left_section section .inline h1:hover {
  cursor: pointer;
  color: #b8b8b8;
}

.data_inline {
  vertical-align: top;
  text-align: center;
  color: #fff;
  opacity: 0.3;
  margin: 10px 9px 0 19px;
  font-size: 30px;
  font-weight: 100;
}

.data_inline span {
  display: inline-block;
  font-size: 60px;
  margin-bottom: 5px;
}

.main_left_section section:nth-child(even) {
  flex-flow: row-reverse nowrap;
}

.main_left_section section:nth-child(even) .main_section_right {
  text-align: right;
  flex-flow: row-reverse nowrap;
}

.main_left_section section:nth-child(even) .data_inline {
  text-align: right;
}

.post-5 .main_section_right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 28px 0;
}

.post-5 .main_section_right .inline {
  padding: 0 35px 0 44px;
}

.post-5 .main_section_right .inline h1 {
  margin: 44px 0 25px 0;
  font-size: 57.5px;
}

.post-5 .main_section_right .inline p {
  margin: 25px 0 16px 0;
  font-size: 17.85px;
  line-height: 1.6;
}

aside {
  width: 23.6%;
}

aside section {
  display: flex;
  flex-flow: column nowrap;
}

aside section img {
  width: 100%;
}

aside section .aside_text {
  background-color: #fff;
  padding: 38px;
}

aside section .aside_text h2 {
  font-weight: 300;
  font-size: 32px;
  line-height: 1.1;
  margin: 0;
}

aside section .aside_text p {
  font-size: 17px;
  margin: 12px 0 0 0;
  line-height: 1.6;
  font-weight: 100;
}

aside section:nth-child(even) {
  margin-top: 25px;
}

footer {
  background-color: #162b4d;
  margin: 24px 0 5px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 32px;
  color: #b8b8b8;
  font-weight: 100;
  font-size: 18.4px;
}

.footer_text_left p {
  margin: 38px 0 0 0;
}

.footer_text_right p {
  margin: 35px 0 0 0;
}

.footer_text_left p:last-child {
  margin: 4px 0 35px 0;
}

.footer_text_right p:last-child {
  margin: 0;
}

.header_hamburger {
  display: none;
}

.header_hamburger div {
  width: 15px;
  height: 1px;
  background-color: #fff;
  margin: 5px 0;
}

@media (max-width: 1400px) {
  .wrapper {
    max-width: unset;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .wrapper {
    margin: 0 12px;
  }

  header {
    flex-flow: column nowrap;
    padding: 30px 0;
  }

  header ul {
    display: none;
  }

  .header_hamburger {
    display: block;
  }

  header p {
    font-size: 45px;
    margin: 68px 0 35px 0;
  }

  .main_left_section {
    width: 59%;
  }

  aside {
    width: 38%;
  }

  .main_left_section section,
  .main_left_section section:nth-child(even) {
    flex-flow: column nowrap;
  }

  .main_left_section section img {
    width: 100%;
  }

  .main_section_right,
  .main_left_section section:nth-child(even) .main_section_right,
  .post-5 .main_section_right {
    flex-flow: column nowrap;
    width: 100%;
    text-align: left;
  }

  .main_left_section section:nth-child(even) .data_inline {
    text-align: center;
  }

  .data_inline {
    margin: 35px 0;
  }

  footer {
    flex-flow: column nowrap;
    text-align: center;
  }

  footer .footer_text_left p:last-child {
    margin: 4px 0 0 0;
  }

  footer .footer_text_right p {
    margin: 4px 0 0 0;
  }

  footer .footer_text_right p:last-child {
    margin: 4px 0 35px 0;
  }
}

@media (max-width: 480px) {
  main {
    flex-flow: column nowrap;
  }

  main .main_left_section {
    width: 100%;
  }

  main aside {
    width: 100%;
  }
}