$header_background: url(../img/m-h-day.jpg);
$logo_font: 'Hind', sans-serif;
$headling_font: 'Source Sans Pro', sans-serif;
$color: (
    "html_bg": #ffffff,
    "text": #2c2f3c, 
    "text_underline": #14a0c7, 
    "button": #699900,
    "card_bg": #21232e,
    "gradient": linear-gradient(45deg, #689801, #2b59dd)
);