$header_background: url(../img/m-h-night.jpg);
$logo_font: 'Fresca', sans-serif;
$headling_font: 'Source Sans Pro', sans-serif;
$color: (
    "html_bg": #21232e,
    "text": #ffffff, 
    "text_underline": #ff4e33, 
    "button": #e3ac00,
    "card_bg": #3b3f50,
    "gradient": linear-gradient(45deg, #e2aa01, #922c53)
);